<div class="container-fluid p-4">
 <p class="text-center fs-4 fw-bold border-bottom border-secondary">Recipe Name: <%=@recipe.name%></p>
  <div class="d-grid p-3 mb-2 w-100 mx-auto fs-5 fw-bold">
    <div class="col-xs-12 col-sm-6 col-md-6 mb-2 d-flex justify-content-between align-items-center">
          <p>Preparation Time: <%=@recipe.preparation_time.minute.in_hours%> hour</p>
     <%=form_with do |f|%>
      <div class="form-check form-switch">
        <%= f.label :public, "Public", class: "form-check-label form-label fs-6 fw-bold" %>
        <%= f.check_box :public, checked: @recipe.public, class: "form-check-input"%>
     </div>
      <%end%>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 mb-2">
       <p>Cooking Time: <%=@recipe.cooking_time.minute.in_hours%> hour</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 mb-2">
      Description: <br/>
       <p><%=@recipe.description%></p>
    </div>

  </div>
  <div class="border-bottom border-secondary pb-3 d-flex justify-content-end">
  <%= button_to "Add Food", "/foods",class: 'btn btn-primary', method: :post%>
  </div>



</div>