<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>

<%= button_to 'Logout', destroy_user_session_path, data: {turbo: false}, method: :delete, class: "btn-logout button" %> 
<%=form_with url: foods_path, scope: :meshu do |f|%>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.time_field :started_at %>
  </div>
  <%my_time = Time.now%>

<%=select_time(my_time)%>
<%end%>