<h1>Food List</h1>
<%=link_to "Add Food", new_food_path, class: "btn btn-primary"%>
<table>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Action</th>
    </tr>

    <% @foods.each do |food| %>
      <tr>
      <td><%= food.name%></td>
      <td><%= food.measurement_unit%></td>
      <td><%= food.price%></td>
      <td><%= button_to 'Delete', food_path(id: food), method: :delete%></td>
     </tr>
    <% end %>
</table>




